<template>
<div>
     <div class="md:flex justify-center">
      <div class="sm:text-xs md:text-base sm:mb-6">
        <vs-button type="button" color="#E11D48" size="large" flat :active="active == 1" @click="active = 1">Register A New Account</vs-button>
      </div>
      <div class="sm:text-xs md:text-base sm:mb-6" >
        <vs-button type="button" color="#E11D48" size="large" flat :active="active == 0" @click="openPopup()">Login Previous Account</vs-button>
      </div>
     </div>
    
    <vs-dialog v-model="modal" v-on:close="closePopup()">
    <div class="p-6">
    <label class="text-black" for="email">Email</label><br>
    <input class="text-black w-full mt-4 mb-4 rounded-md" type="text" id="email" name="email" v-model="email"><br>
    <label class="text-black" for="password">Password</label><br>
    <input class="text-black w-full mt-4 mb-4 rounded-md" type="password" id="password" name="password" v-model="password"><br>
    <vs-button type="button" block color="#E11D48" @click="login()">Login Account</vs-button>
    </div>
    </vs-dialog>

</div>

</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import Swal from 'sweetalert2';

Vue.use(Vuesax, {
    // options here
  });

export default {
  name: 'App',
  data () {
    return {
      remember_token: null,
      modal: false,
      email: null,
      password: null,
      active: 1,
      errormsg: null,
    }
  },
  methods: {
    login() {
      const loading = this.$vs.loading({
            text: 'Login in...'
          });

      var email = this.email;
      var password = this.password;

      axios.defaults.withCredentials = true;

      axios.get('/sanctum/csrf-cookie').then(response => {
        axios({
          method: 'post',
          url: '/api/login',
          data: {
            "email": email,
            "password" : password
          },
        }).then((response) =>{
          // this.remember_token = response.data.remember_token
          // console.log(response.data.remember_token)
          location.reload();
          console.log('User Signed In');
        }).catch((error) => {
          loading.close();
          this.errormsg = error.response.data.message;
          this.$vs.notification({
            title: error.response.data.message,
          })
        }); 
      });
      
    },
    openPopup() {
      this.active = 0;
      this.modal = !this.modal;
    },
    closePopup(){
      this.active = 1;
    }
  },
  mounted() {
    
  }
}
</script>