<template>
<div>
<div>
    <label class="text-black" for="name">Full Name</label><br>
    <input class="text-black w-full mt-4 mb-6 rounded-md" type="text" id="name" name="name" value=""><br>

    <label class="text-black" for="phone">Phone</label><br>
    <input class="text-black w-full mt-4 mb-4 rounded-md" type="text" id="phone" name="phone" v-model="phone" @input="checkPhone()"><br>
    <p class="text-rose-600 mb-4 font-bold text-xs text-center">{{phonemsg}}</p>

    <label class="text-black" for="address">Address</label><br>
    <input class="text-black w-full mt-4 mb-4 rounded-md" type="text" id="address" name="address" value=""><br>

    <label class="text-black" for="email">Email</label><br>
    <input class="text-black w-full mt-4 mb-4 rounded-md" type="email" id="email" name="email" v-model="email" @input="checkEmail()"><br>
    <p class="text-rose-600 mb-4 font-bold text-xs text-center">{{emailmsg}}</p>

    <label class="text-black" for="national_id">National ID</label><br>
    <input class="text-black w-full mt-4 mb-4 rounded-md" type="text" id="national_id" name="national_id" v-model="nid" @input="checkNID()"><br>
    <p class="text-rose-600 mb-4 font-bold text-xs text-center">{{nidmsg}}</p>

    <label class="text-black" for="city">City</label><br>
    <select class="text-black w-full mt-4 mb-4 border border-rose-600 rounded-md" name="city" id="city">
    <option value="dhaka">Dhaka</option>
    </select><br>

    <label class="text-black" for="password">New Password</label><br>
    <input class="text-black w-full mt-4 mb-4 rounded-md" type="password" id="password" name="password" value=""><br>
</div>

<div class="flex justify-center">  
    <button type="button" x-on:click="checkoutStep1 = false,checkoutStep2 = true"
    class="bg-rose-600 text-white pt-3 pb-4 sm:pl-8 md:pl-10 sm:pr-8 md:pr-10 sm:mt-4 md:mt-8 sm:mb-8 md:mb-4 rounded-md" :disabled='isDisabled'>Show Price</button>
    </div>

</div>

</template>

<script>
import axios from 'axios';
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';

export default {
  name: 'Register',
  data () {
    return {
      phone: null,
      phonemsg: null,
      email: null,
      emailmsg: null,
      nid: null,
      nidmsg: null,
    //   isDisabled: true,
    }
  },
  methods: {
    checkPhone(){
        var phone = this.phone.slice(1);
        axios({
        method: 'get',
        url: '/api/users/phone/' + phone,
        })
        .then((response) => {
            this.phonemsg = response.data.message;
        });
    },

    checkEmail(){
        axios({
        method: 'get',
        url: '/api/users/email/' + this.email,
        })
        .then((response) => {
            this.emailmsg = response.data.message;
        });
    },

    checkNID(){
        axios({
        method: 'get',
        url: '/api/users/nid/' + this.nid,
        })
        .then((response) => {
            this.nidmsg = response.data.message;
        });
    },
  },
  computed: {
    isDisabled() {
        // console.log(this.phone);
        // console.log(this.email);
        // console.log(this.nid);
        if (this.phone == null || this.email == null || this.nid == null) {
            return true;
        }

        // if (this.phonemsg != null && this.emailmsg != null && this.nidmsg != null) {
        //     return true;
        // }
    }
  },
  mounted() {
  },
}
</script>