@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* .cr-booking-type input[type="radio"] {
    opacity: 100;
    position: fixed;
    width: 100;
  } */

  /* .cr-booking-type label {
    display: inline-block;
    background-color: #ddd;
    padding: 200px 200px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}


.cr-booking-type label:hover {
    background-color: #dfd;
  }

input[type="radio"]:checked + label { 
    color: green; 
} 

 .cr-booking-type input[type="radio"]:focus + label {
      border: 2px dashed #444;
    }
  
  .cr-booking-type input[type="radio"]:checked + label {
      background-color: #bfb;
      border-color: #4c4;
  }

  .cr-trip-type {
    background-color: #000;
  }
  
  .cr-trip-type:hover {
    background-color: #4c4;
  } */


  button.selected{
    background-color:#E11D48;
    color: #fff;
  }

  #step_1:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.main-container {
  width: 70%;
  height: auto;
}


@media only screen and (max-width: 640px) {
  .main-container {
    width: 90%;
    height: auto;
  }
}


.checkout-container {
  width: 70%;
}

svg {
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  pointer-events: none;
}

.car-selected {
  background-color: #E11D48;
}